
<p id="notice"><%= notice %></p>
 <!-- <a href="#" class="brand-logo">Logo</a> -->
<div class="eachMovie">
<p>
  <!-- <strong>Name:</strong> -->
  <div class="showName"><%= @movie.name %></div>
</p>

<p>
  <!-- <strong>Image:</strong> -->
<div class="showImage"><img src="<%= @movie.image %>"width="250" height="250" margin-right:"10px"></div>

</p>
</div>
<%= render partial: 'tickets/form' %>
