// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2{
  text-align: center;
  margin: 0 auto;
}
.movieLink{
  margin: 10px auto;
}
.paymentMsg{
  margin: 0 auto;
  text-align: center;
}
