// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.brand-logo{
  // background-image: url("logo2.jpg");
  // height:65px;
  // width:80px;
  // border: 2px solid red;
  margin-left: 40px;
  // background-color: black;
}
.nav-wrapper{
  background-color: black;
  // height:60px;
}
.movieName{
  font-size: 20px;
  text-align: center;
}
tr{
  width:50%;
}
.col.s12.m4.l4{
    width:50%;
}
td{
  width:50%;
}
.movieDetails{
  margin:100px 100px 20px ;
position:relative;
  width:250px;
  height:auto;
  border:2px solid #CC9752;
  float:left;
}
.row{
height:auto;
width:300px;

}
.showName{
  // float:right;
  margin-right: 60px;
}
.showImage{

}
.eachMovie{
  float:right;
  height:400px;
  width:300px;
}
.movieIamge{
  margin:20px 20px;
}
.movieLink{
    margin:10px 40px;
}
body{
  // background-color: #CC9752;
}
