// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.screen{
  height:40px;
  width:600px;
  background-color:grey;
  margin:90px auto;
}
h1{
  font-size: 15px;
  text-align: center;

}

.seatPanel {
   width:31vw;
  height: auto;
   /*height:80vh;*/
  border:1px solid green;
   left : 40px;
   /*position: absolute;*/
   display: inline-block;

 }

 #table {
   width: 300px;
   height: auto;
  //  float: left;
   background-color: #305050;
   border-spacing: 0;
   margin:10px auto;
 }
 td {
  //  height: 50px;
  //  width: 50px;
  //  text-align: center;
   font-family: sans-serif;
   font-size: 40pt;
   border-collapse: collapse;
    border: 2px solid #004445;
   text-transform: uppercase;
   color: #999999;
 }
 .center {
   margin-top: 20px;
   margin-right: auto;
   margin-left: auto;
 }

  .seats {
    width: 100px;
    float:right;
    // margin-right: 90px;

  }
 .seats td {
   width: 100px;
   height: 30px;
   font-size: 10px;
 }
 .field{
  width:20%;
  margin:0 450px;
  color:black;;
 }
 .tickets{
   margin:0 auto;
    width:20%;
 }
 .actions{
   margin:0 auto;
   width:20%;
 }
.digits{
  float:right;
  // width:30%;
}
.fieldLabel{
  color:pink;
}
.stripe-button-el{
  margin:10px auto;
}
