<!DOCTYPE html>
<html>
<head>
  <title>MovieBookingSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<%= yield %>
<!-- <div class="short_header">
  <div class="sub_header1">1.Movies</div>
  <div class="sub_header2">2.tickets</div>
  <div class="sub_header3">2.Seats</div>
</div> -->
</body>
</html>
